@{
    ViewData["Title"] = "KullaniciEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.min.css" />*@

<section id="basic-vertical-layouts">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Düzenle</h4>
                </div>
                <div class="card-body">
                    <form class="form form-vertical" enctype="multipart/form-data" asp-action="KullaniciEdit" asp-controller="Kullanici" method="post">
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-1">
                                    <label class="form-label" for="first-name-vertical"><h6>Adı Soyadı</h6></label><br />
                                    <input style="display:none" type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="KullaniciId" value="@ViewBag.KullaniciDto.KullaniciId" />
                                    <input type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="AdiSoyadi" value="@ViewBag.KullaniciDto.AdiSoyadi" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-1">
                                    <label class="form-label" for="first-name-vertical"><h6>Kullanıcı Adı</h6></label><br />
                                    <input style="display:none" type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="KullaniciId" value="@ViewBag.KullaniciDto.KullaniciId" />
                                    <input type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="KullaniciAdi" value="@ViewBag.KullaniciDto.KullaniciAdi" />
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-1">
                                    <label class="form-label" for="first-name-vertical"><h6>Rol Adı</h6></label><br />
                                    <select name="RolId" style="height:31px;width:231px;font-size: 19px;" class="form-select form-select-lg" id="selectLarge">
                                        @foreach (var RolItem in ViewBag.Rol)
                                        {
                                            if (ViewBag.KullaniciDto.RolId == RolItem.RolId)
                                            {
                                                <option selected value="@RolItem.RolId">@RolItem.RolAdi</option>
                                            }
                                            else
                                            {
                                                <option value="@RolItem.RolId">@RolItem.RolAdi</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                                      <div class="col-4">
                                <div class="mb-1">
                                    <label class="form-label" for="first-name-vertical"><h6>Şifre</h6></label><br />
                                    <input style="display:none" type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="KullaniciId" value="@ViewBag.KullaniciDto.KullaniciId" />
                                    <input type="text" autocomplete="off" id="first-name-vertical" class="form-control" name="Sifre" value="@ViewBag.KullaniciDto.Sifre" />
                                </div>
                            </div>
                            <br />
                            <div class="col-12" style=" margin-top: 2%;">
                                <button type="submit" class="btn btn-primary me-1">Kaydet</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





